<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ECommerce Checkpoint 3</title>
</head>
<body>
   <div>
    <h2>Products</h2>
    <input type="text" id="searchInput" name="searchInput" placeholder="Search by name...">
  </div>
  <div id="productsList">
    <% products.forEach(product => { %>
      <img src="/images/<%= product.imgname %>" alt="">
    <% }) %>
  </div>
  <p><a href="/showCart">Cart</a></p>
  <p><a href="/customer">Customer</a></p>
  <p><a href="/logout">Log Out</a></p>
  <script src="/script.js"></script>
</body>
</html>
